.btn{
    background-color:#1aa4c8;
    border-radius: 3px;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, .16);
    min-width: 100px;
    height: 36px;
    overflow: hidden;
    padding: 0 13px;
    cursor: pointer;
    border: none;
    outline: none;
    box-sizing: border-box;
}
.btn:hover{
    background-color:#0582A2;
}
.btn:active{
    background-color: #1AA4C8;
}
.btn:focus{
    background-color: #1aa4c8;
}
.btn__icon{
    padding-left: 27px;
}

.btn__toolbar{
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, .16);
    width: 36px;
    height: 36px;
    overflow: hidden;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn__toolbar:hover{
    background-color:#1AA4C8;
}
.btn__toolbar:active{
    background-color: #1AA4C8;
}
.btn__toolbar:focus{
    background-color:#1AA4C8;
}
.btn-x{
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

/* .btn-x:hover{
    background-color:#CCE4FF;
} */

/* .btn-x:focus{
    background-color:#E6F2FF;
} */