.btn{
    background-color:#1aa4c8;
    border-radius: 3px;
    box-shadow:0 2px 6px rgba(0, 0, 0, .16);
    min-width: 100px;
    height: 36px;
    overflow: hidden;
    padding: 0 13px;
    cursor: pointer;
    border: none;
    outline: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.btn:hover{
    background-color:#0582A2;
}
.btn:active{
    background-color: #1AA4C8;
}
.btn:focus{
    background-color: #1aa4c8;
    outline: #D1EDF4 3px solid;
}
.btn__icon{
    padding-left: 27px;
}

.btn__toolbar{
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow:0 2px 6px rgba(0, 0, 0, .16);
    width: 36px;
    height: 36px;
    overflow: hidden;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn__toolbar:hover{
    background-color:#f5f5f5;
}
.btn__toolbar:active{
    background-color: #f5f5f5;
}
.btn__toolbar:focus{
    background-color:#ffffff;
    outline: #D1EDF4 3px solid;
}

.disableBtn{
    cursor: no-drop;
    background-color: #f5f5f5;
}
.disableBtn:focus{
    outline: none;
    background-color: #f5f5f5;
}


.btn-x{
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
}
.m-icon-x{
    position: absolute;
    left: 0;
    top: 0;
}
.btn__outline{
    border: #B1B1B1 1px solid;
    background-color: #fff ;
    color: #000;
}
.btn__outline:hover{
    border: #B1B1B1 1px solid;
    background-color: #1AA4C8 ;
    color: #fff;
}
.btn__outline:active{
    border: #B1B1B1 1px solid;
    background-color: #1AA4C8 ;
    color: #fff;
}
.btn__outline:focus{
    border: #B1B1B1 1px solid;
    background-color: #1AA4C8 ;
    color: #fff;
    outline: 3px solid #D1EDF4;
}




.btn__sub{
    border: #1AA4C8 1px solid;
    color: #1AA4C8;
    background-color: #fff;

}
.btn__sub:hover{
    background-color: #D1EDF4;

}
.btn__sub:focus{
    outline: 3px solid #D1EDF4;
    background-color: #D1EDF4;

}

/* .btn-x:hover{
    background-color:#CCE4FF;
} */

/* .btn-x:focus{
    background-color:#E6F2FF;
} */




