@import url(./icon.css);
@import url(./font.css);
@import url(./input.css);
@import url(./combobox.css);
@import url(./button.css);
@import url(./dialog.css);
@import url(./loading.css);


.height-150{
    height: 150px;
}
.pl-15{
    padding-left: 15px;
}
.ml-11{
    margin-left: 11px;
}
.ml-20{
    margin-left: 20px;
}

.ml-8{
    margin-left: 8px;

}

.ml-12{
    margin-left: 12px;

}
.ml-18{
    margin-left: 18px;
}
.ml-17{
    margin-left: 17px;

}
.ml-14{
    margin-left: 14px;

}
.mt-20{
    margin-top: 20px;
}
.ml-22{
    margin-left: 22px;
}
.ml-24{
    margin-left: 24px;
}
.mt-15{
    margin-top: 15px;
}
.mt-8{
    margin-top: 8px;
}
.ml-13{
    margin-left: 13px;
}
.ml-15{
    margin-left: 15px;
}
.text-center{
    text-align: center;
    cursor: pointer;
}

.text-left{
    cursor: pointer;
    text-align: left;
}
.text-rigth{
    cursor: pointer;
    text-align: right;
}
.w-100{
    width: 100% !important;
}
.border{
    height: 40px !important;
}



::-webkit-scrollbar {
    display: none;
}

body{
    margin: 0;
    font-size: 13px;
    width: 100vw;
    height: 100vh;
    font-family: Roboto;
}
#app{
    width: 100%;
    height: 100%;
    display: flex;

}

.m-menu{
    background-color: #1c3048;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    height: 100%;
    
}

.m-view{
    width: 100%;
    height: 100%;
}

