.m-dialog{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.55);
    width: 100vw;
    height: 100vh;
    z-index: 3;
}

.isShowDialog{
    display: block !important;
}

