.m-icon-logo{
    background-image: url(../../assets/icon/logo.png);
    background-repeat: no-repeat;
    background-size: 36px 36px;
}

.m-icon-overview{
    background-image: url(../../assets/icon/overview.png);
    background-repeat: no-repeat;
    background-size: 24px 24px;
}
.m-icon-proretyhtdb{
    background-image: url(../../assets/icon/propretyhtdb.png);
    background-repeat: no-repeat;
    background-size: 24px 24px;

}
.m-icon-prorety{
    background-image: url(../../assets/icon/proprety.png);
    background-repeat: no-repeat;
    background-size: 24px 24px;

}
.m-icon-report{
    background-image: url(../../assets/icon/report.png);
    background-repeat: no-repeat;
    background-size: 24px 24px;

}
.m-icon-tool{
    background-image: url(../../assets/icon/tool.png);
    background-repeat: no-repeat;
    background-size: 24px 24px;

}
.m-icon-search{
    background-image: url(../../assets/icon/search.png);
    background-repeat: no-repeat;
    background-size: 24px 24px;

}
.m-icon-category{
    background-image: url(../../assets/icon/category.png);
    background-repeat: no-repeat;
    background-size: 24px 24px;

}

.m-icon-notification{
    background-image: url(../../assets/icon/notification.png);
    background-repeat: no-repeat;
    background-size: 24px 24px;

}

.m-icon-toggle{
    background-image: url(../../assets/icon/toggle.png);
    background-repeat: no-repeat;
    background-size: 24px 24px;

}

.m-icon-question{
    background-image: url(../../assets/icon/question.png);
    background-repeat: no-repeat;
    background-size: 24px 24px;

}

.m-icon-infomation{
    background-image: url(../../assets/icon/infomation.png);
    background-repeat: no-repeat;
    background-size: 24px 24px;

}
.m-icon-dropdown{
    background-image: url(../../assets/icon/dropdown.png);
    background-repeat: no-repeat;
    background-size: 24px 24px;

}

