.m-icon-logo{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -20px -680px;
	width: 36px;
	height: 36px;
}

.miconoverview{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -21px -151px;
	width: 24px;
	height: 24px;
}

.miconoverviewactive{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -21px -195px;
	width: 24px;
	height: 24px;
}


.miconproretyhtdb{
    background: url(../../assets/icon/qlts-icon.png) no-repeat -110px -153px;
	width: 24px;
	height: 24px;
}

.miconproretyhtdbactive{
    background: url(../../assets/icon/qlts-icon.png) no-repeat -110px -197px;
	width: 24px;
	height: 24px;
}
.m-icon-prorety{
	background: url('../../assets/icon/qlts-icon.png') no-repeat -65px -197px;
	width: 24px;
	height: 24px;

}

.micontool{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -153px -153px;
	width: 24px;
	height: 24px;
}

.micontoolactive{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -153px -197px;
	width: 24px;
	height: 24px;
}

.miconreport{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -329px -153px;
	width: 24px;
	height: 24px;

}
.miconreportactive{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -330px -196px;
	width: 24px;
	height: 24px;

}
.miconsearch{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -241px -153px;
	width: 24px;
	height: 24px;
}
.miconsearchactive{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -241px -197px;
	width: 24px;
	height: 24px;
}

.miconcategory{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -196px -152px;
	width: 24px;
	height: 24px;
}

.miconcategoryactive{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -197px -196px;
	width: 24px;
	height: 24px;
}

.m-icon-notification{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -332px -109px;
	width: 24px;
	height: 24px;

}

.m-icon-toggle{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -199px -23px;
	width: 24px;
	height: 24px;

}

.m-icon-question{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -67px -67px;
	width: 24px;
	height: 24px;

}

.m-icon-infomation{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -23px -23px;
	width: 24px;
	height: 24px;

}
.m-icon-dropdown{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -72px -338px;
	width: 8px;
	height: 5px;
}
.m-icon-down{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -72px -338px;
	width: 8px;
	height: 5px;
}
.m-icon-dropup{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -28px -338px;
	width: 8px;
	height: 5px;
}


.m-icon-search-input{
    background-image: url(../../assets/icon/icon-search.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px;

}

.m-icon-cbb{
    background-image: url(../../assets/icon/Filter_2.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px;

}
.m-icon-edit{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -156px -68px;
	width: 24px;
	height: 24px;

}

.m-icon-delete{
	background: url('../../assets/icon/qlts-icon.png') no-repeat -419px -111px;
	width: 18px;
	height: 18px;
}

.m-icon-add{
	background: url('../../assets/icon/qlts-icon.png') no-repeat -463px -419px;
	width: 10px;
	height: 10px;
}

.m-icon-duplicate{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -244px -112px;
	width: 24px;
	height: 24px;

}
.m-icon-add-fff{
    background-image: url(../../assets/icon/icons8-plus-math-26.png);
    background-repeat: no-repeat;
    background-size: 15px 15px;

}

.m-icon-btn-delete{
    background-image: url(../../assets/icon/icon-detele.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;

}

.m-icon-btn-export{
    background-image: url(../../assets/icon/icon-export.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.m-icon-x{
	background: url('../../assets/icon/qlts-icon.png') no-repeat -375px -287px;
	width: 20px;
	height: 20px;
}

.m-icon-xdetail{
	background: url('../../assets/icon/qlts-icon.png') no-repeat -375px -287px;
	width: 20px;
	height: 20px;
}

.m-icon-sidebar{
	background-image: url(../../assets/icon/back.png);
    background-repeat: no-repeat;
    background-size: 14px 14px;
	background-position: center center;
	
}

.m-icon-success{
	background-image: url(../../assets/icon/done.png);
	background-repeat: no-repeat;
	background-size: 24px 24px;
}

.m-icon-x-toast{
	background: url('../../assets/icon/qlts-icon.png') no-repeat -291px -247px;
	width: 10px;
	height: 10px;
}

.m-icon-warning{
	background-image: url(../../assets/icon/icons8-error-48.png);
	background-repeat: no-repeat;
	background-size: 36px 36px;
}

.m-icon-prev{
	background: url('../../assets/icon/qlts-icon.png') no-repeat -206px -248px;
	width: 5px;
	height: 8px;
}
.m-icon-next{
	background: url('../../assets/icon/qlts-icon.png') no-repeat -250px -248px;
	width: 5px;
	height: 8px;
}

.m-icon-date{
	background-image: url(../../assets/icon/icon-date.png);
	background-repeat: no-repeat;
	background-size: 24px 24px;
}

.m-icon-v{
	background-image: url(../../assets/icon/icons8-v-24.png);
	background-repeat: no-repeat;
	background-size: 24px 24px;
}

.m-icon-dropdown-menu{
	background: url('../../assets/icon/qlts-icon.png') no-repeat -158px -293px;
	width: 11px;
	height: 7px;
}

.m-icon-change-password{
	background: url('../../assets/icon/qlts-icon.png') no-repeat -67px -556px;
	width: 18px;
	height: 8px;
}

.m-icon-access-QLTSV1{
	background: url('https://demoqltsapp.misacdn.net/ui/dist/images/qlts-icon.svg') no-repeat -463px -597px;
	width: 17px;
	height: 14px;
}
.m-icon-customer-survey{
	background: url('https://demoqltsapp.misacdn.net/ui/dist/images/qlts-icon.svg') no-repeat -23px -68px;
	width: 18px;
	height: 18px;
}
.m-icon-logout{
	background: url('https://demoqltsapp.misacdn.net/ui/dist/images/qlts-icon.svg') no-repeat -112px -553px;
	width: 15px;
	height: 15px;
}
.m-icon-infomations{
	background: url('https://demoqltsapp.misacdn.net/ui/dist/images/qlts-icon.svg') no-repeat -23px -23px;
	width: 18px;
	height: 18px;
}

.m-icon-asset-up{
	background: url('https://demoqltsapp.misacdn.net/ui/dist/images/qlts-icon.svg') no-repeat -110px -420px;
	width: 20px;
	height: 15px;
}

.m-icon-asset-ngang{
	background: url('https://demoqltsapp.misacdn.net/ui/dist/images/qlts-icon.svg') no-repeat -22px -421px;
	width: 20px;
	height: 14px;
}

.m-icon-asset-up-dropdown{
	background: url('https://demoqltsapp.misacdn.net/ui/dist/images/qlts-icon.svg') no-repeat -158px -249px;
	width: 12px;
	height: 7px;
}


.m-icon-print{
	background-image: url('../../assets/icon/print-icon.png');
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: center;
}

.m-icon-3dot{
	background-image: url('../../assets/icon/3cham.png');
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: center;
}


.m-icon-delete-red{
	background: url('https://demoqltsapp.misacdn.net/ui/dist/images/qlts-icon.svg') no-repeat -463px -111px;
	width: 18px;
	height: 18px;
}

.m-icon-plus{
	background: url('https://demoqltsapp.misacdn.net/ui/dist/images/qlts-icon.svg') no-repeat -375px -419px;
	width: 18px;
	height: 18px;
}

.m-icon-minus{
	background: url('https://demoqltsapp.misacdn.net/ui/dist/images/qlts-icon.svg') no-repeat -375px -463px;
	width: 18px;
	height: 18px;
}


.m-icon-hide{
	background: url('https://demoqltsapp.misacdn.net/ui/dist/images/qlts-icon.svg') no-repeat -66px -375px;
	width: 20px;
	height: 15px;
}

.m-icon-show{
	background: url('https://demoqltsapp.misacdn.net/ui/dist/images/qlts-icon.svg') no-repeat -22px -377px;
	width: 20px;
	height: 15px;
}

.m-icon-zoom{
	background-image: url('../../assets/icon/zoom.png');
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: center;
}

.m-icon-zoom-out{
	background-image: url('../../assets/icon/zoom-out.png');
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: center;
}