.m-icon-logo{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -20px -680px;
	width: 36px;
	height: 36px;
}

.m-icon-overview{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -21px -153px;
	width: 24px;
	height: 24px;
}
.m-icon-proretyhtdb{
    background: url(../../assets/icon/qlts-icon.png) no-repeat -110px -153px;
	width: 24px;
	height: 24px;

}
.m-icon-prorety{
	background: url('../../assets/icon/qlts-icon.png') no-repeat -65px -197px;
	width: 24px;
	height: 24px;

}

.m-icon-tool{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -153px -153px;
	width: 24px;
	height: 24px;

}
.m-icon-report{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -329px -153px;
	width: 22px;
	height: 22px;

}
.m-icon-search{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -241px -153px;
	width: 24px;
	height: 24px;

}
.m-icon-category{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -196px -152px;
	width: 24px;
	height: 24px;
}

.m-icon-notification{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -332px -109px;
	width: 24px;
	height: 24px;

}

.m-icon-toggle{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -199px -23px;
	width: 24px;
	height: 24px;

}

.m-icon-question{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -67px -67px;
	width: 24px;
	height: 24px;

}

.m-icon-infomation{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -23px -23px;
	width: 7px;
	height: 5px;

}
.m-icon-dropdown{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -72px -338px;
	width: 8px;
	height: 5px;
}
.m-icon-down{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -72px -338px;
	width: 8px;
	height: 5px;
}
.m-icon-dropup{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -28px -338px;
	width: 8px;
	height: 5px;
}


.m-icon-search-input{
    background-image: url(../../assets/icon/icon-search.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px;

}

.m-icon-cbb{
    background-image: url(../../assets/icon/Filter_2.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px;

}
.m-icon-edit{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -156px -68px;
	width: 24px;
	height: 24px;

}
.m-icon-duplicate{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -244px -112px;
	width: 24px;
	height: 24px;

}
.m-icon-add-fff{
    background-image: url(../../assets/icon/icons8-plus-math-26.png);
    background-repeat: no-repeat;
    background-size: 15px 15px;

}

.m-icon-btn-delete{
    background-image: url(../../assets/icon/icon-detele.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;

}

.m-icon-btn-export{
    background-image: url(../../assets/icon/icon-export.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.m-icon-x{
	background: url('../../assets/icon/qlts-icon.png') no-repeat -375px -287px;
	width: 20px;
	height: 20px;
}

.m-icon-sidebar{
	background: url('../../assets/icon/qlts-icon.png') no-repeat -206px -292px;;
	width: 7px;
	height: 9px;
	
}

.m-icon-success{
	background-image: url(../../assets/icon/done.png);
	background-repeat: no-repeat;
	background-size: 24px 24px;
}

.m-icon-x-toast{
	background: url('../../assets/icon/qlts-icon.png') no-repeat -291px -247px;
	width: 10px;
	height: 10px;
}

.m-icon-warning{
	background-image: url(../../assets/icon/icons8-error-48.png);
	background-repeat: no-repeat;
	background-size: 36px 36px;
}

.m-icon-prev{
	background: url('../../assets/icon/qlts-icon.png') no-repeat -206px -248px;
	width: 5px;
	height: 8px;
}
.m-icon-next{
	background: url('../../assets/icon/qlts-icon.png') no-repeat -250px -248px;
	width: 5px;
	height: 8px;
}

.m-icon-date{
	background-image: url(../../assets/icon/icon-date.png);
	background-repeat: no-repeat;
	background-size: 24px 24px;
}

.m-icon-v{
	background-image: url(../../assets/icon/icons8-v-24.png);
	background-repeat: no-repeat;
	background-size: 24px 24px;
}

.m-icon-dropdown-menu{
	background: url('../../assets/icon/qlts-icon.png') no-repeat -158px -293px;
	width: 11px;
	height: 7px;
}