.m-menu {
    position: relative;
    box-sizing: border-box;

    .active {
        background-color: #1aa4c8;
        opacity: 1 !important;
    }

    .m-sidebar {
        overflow: auto;
        height: calc(100% - 40px);

        .m-logo {
            width: 100%;
            height: 50px;
            display: flex;
            padding: 11px 15px 4px 15px;
            box-sizing: border-box;

        }

        .m-option {
            opacity: .54;
            border-radius: 6px;
            width: auto;
            height: 40px;
            overflow: hidden;
            display: flex;
            cursor: pointer;
            margin: 0 11px;
            align-items: center;
            position: relative;
            margin-top: 3px;

            div {
                color: #fff;
                margin-left: 11px;
            }

            .m-icon-dropdown-menu {
                position: absolute;
                top: calc(50% - 3.5px);
                right: 10px;
            }
        }

        .m-option:hover {
            background-color: #1aa4c8;
            opacity: 1 !important;
            transition: 0.2s linear;
        }

        .m-asset-menu-detail {
            width: auto;
            margin: 0 11px;
            background-color: #33455B;
            color: #fff;

            .m-option-menu-detail {
                height: 40px;
                opacity: .54;
                cursor: pointer;
                border-radius: 6px;
                display: flex;
                align-items: center;
                margin-top: 3px;

                span {
                    margin-left: 45px;
                }
            }


            .m-option-menu-detail:hover {
                background-color: #1aa4c8;
                opacity: 1 !important;
                transition: 0.2s linear;
                .m-hover-menu{
                    opacity: 1 !important;
                }
            }
        }


    }


    .m-btn-sidebar {
        position: absolute;
        height: 40px;
        width: 100%;
        bottom: 0;
        display: flex;
        align-items: center;
        border-top: 2px solid #34465C;
        box-sizing: border-box;


        .btn-sidebar {
            position: absolute;
            height: 24px;
            width: 24px;
            right: 20px;
            background-color: #1c3048;
            outline: none;
            border: #8F99A5 1px solid;
            border-radius: 4px;
            cursor: pointer;
            transition: 0.3s linear;
            display: flex;
            justify-content: center;
            align-items: center;


            .m-icon-sidebar {}


        }
    }


    .rotate-180 {
        transform: rotate(180deg);
        transition: 0.5s linear;
    }



}