.m-menu{
   
}

.m-menu .m-logo{
    width: 36px;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 19px;
}

.m-menu .m-option{
    border-radius: 6px;
    width: 44px;
    height: 40px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    background-position: center center;
    cursor: pointer;
}
.m-menu .m-option:hover{
    background-color: aqua;
}
.active{
    background-color: #1aa4c8;
}